.top-content {
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.top-content .mkt_top_img {
  border: 1px solid red;
  max-width: 45%;
  height: auto;
  border-radius: 15px;
  align-self: center;
  margin: 2%;
  margin-right: 2%;
}
.top-content .top-text {
  border: 1px solid red;
  width: 45%;
  margin: 2%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  padding-left: 1.5%;
  justify-content: center;
}
.top-content .top-text h2 {
  border: 1px solid red;
  width: 65%;
}
.top-content .top-text p {
  border: 1px solid red;
  width: 85%;
}
.bottom-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.bottom-content .text-content {
  width: 32%;
}
header {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background: lightblue;
  align-content: center;
}
header .title-box {
  margin: 1rem;
  width: 20%;
  margin-right: 35%;
  display: flex;
  flex-wrap: wrap;
}
header nav {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
}
header nav a {
  text-decoration: none;
  color: #33373d;
  font-size: 1.2rem;
  display: flex;
  align-content: flex-end;
  margin: 0.5rem;
}
header nav a:hover {
  text-decoration: underline;
  color: black;
}
