

.about-content{
    position: relative;
    text-align: center;
    color: white;
  
    .abt_top_img{
    //   border: @red-border;
    width: 100%;
    //   height: auto;
    //   border-radius:15px;
    //   align-self: center;
    //   margin:2%;
    //   margin-right:2%;
    } 
    
    h2 {
        // border: @red-border;
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translate(-13%, -50%);
        font-size: 2rem;
    }


    // h2{
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    // }

}


.bottom-content{
  // border: @red-border;
  .display-flex-wrap;
  justify-content: space-around;

  .text-content{
    // border: @red-border;
    width:32%;
  }

}