

.about-content{
    position: relative;
    text-align: center;
    color: white;
  
    .abt_top_img{
    //   border: @red-border;
    width: 100%;
    //   height: auto;
    //   border-radius:15px;
    //   align-self: center;
    //   margin:2%;
    //   margin-right:2%;
    } 
    
    h2 {
        // border: @red-border;
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translate(-13%, -50%);
        font-size: 2rem;
    }


    // h2{
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    // }

}


//CSS for reusable components: 
.team-bios{
    border: @red-border;
    .display-flex-wrap;
    justify-content: flex-start;
    margin-bottom: 5%;
    
    h2{
        width:100%;
        font-size: 3REM;
        text-align: center;
    }
    .bio{
        border: @card-border;
        box-shadow:1.5px 1.5px rgb(225, 225, 226);
        display:flex;
        flex-direction: column;
        align-content: center;
        
        // height: 260px;
        width: 23.5%;
        
        @media @phone {
            width: 45%;
            
        
          }

        
        margin: .63%;
        overflow: hidden;
      

        .bio-links{
            width:60%;
            height:auto;
            margin:2%;
            border: @red-border;
            .display-flex-wrap;
            justify-content: space-around;
        }

        .bio_img{
            border: @avatar-border;
            width: 60%;
            height:auto;
            margin: 5%;
            margin-left: 20%;
            border-radius: 100%;
             
           
        }

        .bioButton {
            width: 40%;
            margin-left: 30%;
            border-radius: 10px;
            margin-bottom: 2%;
            
        }

       .bio-text{
           display:none;
       }

     

        p{
            border:@red-border;
            margin:2%;
        }

        h4{
            width:100%;
            background: @header-color;
            color: @nav-font-color;
            padding:3%;
            font-size: 1rem;
            margin:0;
            text-align: center;
        }
        
    }

     .bio-open .bio-text {
        // height: 400px;
        display:block;
        
      }

}




// .bottom-content{
//   // border: @red-border;
//   .display-flex-wrap;
//   justify-content: space-around;

//   .text-content{
//     // border: @red-border;
//     width:32%;

//     @media @phone {
//         width: 90%;
//         align-content: center;
//         }
//   }

// }