

.top-content{
  border: @red-border;
  .display-flex-wrap;
  justify-content: space-around;
  

    .mkt_top_img{
      border: @red-border;
      max-width: 45%;
      height: auto;
      border-radius:15px;
      align-self: center;
      margin:2%;
      margin-right:2%;
      
    }

    .top-text{
      border: @red-border;
      width: 45%;
      margin:2%;
      .display-flex-wrap;
      flex-direction: column;
      align-content: flex-start;
      padding-left: 1.5%;
      justify-content: center;
    
        h2{
          border: @red-border;
          width: 65%;
        }
        
        p{
          border: @red-border;
          width: 85%;
        }

      // .btn {

      // }

    }

}

.bottom-content{
  // border: @red-border;
  .display-flex-wrap;
  justify-content: center;

  .text-content{
    // border: @red-border;
    width:32%;
  }

}