// Navigation Styles here



header {
     // border: @red-border;
    width: 100%;
    height: auto;
    .display-flex-wrap;
    flex-direction: row;
    // margin: 10px;
    background: lightblue;
    align-content: center;


    .title-box{
        // border: @red-border;
        margin: 1rem;
        width:20%;
        margin-right: 35%;
        .display-flex-wrap;
    }

    nav {
        //border: @red-border;
        width: 40%;
        .display-flex-wrap;
        justify-content: flex-end;
        align-content:center;
        

        a {
               // border: @red-border;
            text-decoration: none;
            color:@fun-gray;
            font-size: 1.2rem;
            display:flex;
            align-content:flex-end;
             margin:.5rem ;
        }

        a:hover {
            text-decoration: underline;
            color: black;
    }

    
}

    
}

