


//Borders:
@red-border: 1px solid white;
@card-border: 1px solid rgb(178, 180, 182);
@avatar-border: 1px solid @header-color;


// Theme variables:
@phone: ~"( max-width: 500px)";
@ph-width: 95%;
@width: 85px;

//Color variables:
@header-color: rgb(41,160,221);
@nav-font-color: white;
@hover-color: rgb(36,229,76);


